services:
  ratings:
    build: "../ratings/"
    image: ghcr.io/first-unknow/bookinfo-ratings:dev
    ports:
      - "8080:8080"
    environment:
      SERVICE_VERSION: v2
      MONGO_DB_URL: mongodb://mongodb:27017/ratings
      MONGO_DB_USERNAME: ratings
      MONGO_DB_PASSWORD: CHANGEME

  mongodb:
    image: bitnami/mongodb:5.0.2-debian-10-r2
    volumes:
      - "./databases:/docker-entrypoint-initdb.d"
    environment:
      MONGODB_ROOT_PASSWORD: CHANGEME
      MONGODB_USERNAME: ratings
      MONGODB_PASSWORD: CHANGEME
      MONGODB_DATABASE: ratings

  details:
    build: "../details/"
    image: ghcr.io/first-unknow/bookinfo-details:dev
    ports:
      - "8081:8081"

  reviews:
    build: "../reviews/"
    image: ghcr.io/first-unknow/bookinfo-reviews:dev
    ports:
      - "8082:9080"
    environment:
      RATINGS_HOSTNAME: ratings_url

  productpage:
    build: "../productpage/"
    image: ghcr.io/first-unknow/bookinfo-productpage:dev
    ports:
      - "8083:8083"
    environment:
      RATINGS_HOSTNAME: ratings_url
      DETAILS_HOSTNAME: details_url
      REVIEWS_HOSTNAME: reviews_url